build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/hello-world.exe
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-79901dd27b4b3ce277db.json
build/.cmake/api/v1/reply/cmakeFiles-v1-a54a3dd4f34ee66f76b1.json
build/.cmake/api/v1/reply/codemodel-v2-540af1827fc1832e38eb.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2025-10-21T07-19-18-0921.json
build/.cmake/api/v1/reply/target-hello-world-Debug-09f45a22639659e2fe6e.json
build/.cmake/api/v1/reply/toolchains-v1-a902a364443f360b6745.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.26.5/CMakeCCompiler.cmake
build/CMakeFiles/3.26.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.26.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.5/CMakeRCCompiler.cmake
build/CMakeFiles/3.26.5/CMakeSystem.cmake
build/CMakeFiles/3.26.5/CompilerIdC/a.exe
build/CMakeFiles/3.26.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.26.5/CompilerIdCXX/a.exe
build/CMakeFiles/3.26.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/hello-world.dir/build.make
build/CMakeFiles/hello-world.dir/cmake_clean.cmake
build/CMakeFiles/hello-world.dir/compiler_depend.internal
build/CMakeFiles/hello-world.dir/compiler_depend.make
build/CMakeFiles/hello-world.dir/compiler_depend.ts
build/CMakeFiles/hello-world.dir/depend.make
build/CMakeFiles/hello-world.dir/DependInfo.cmake
build/CMakeFiles/hello-world.dir/flags.make
build/CMakeFiles/hello-world.dir/link.txt
build/CMakeFiles/hello-world.dir/linkLibs.rsp
build/CMakeFiles/hello-world.dir/objects.a
build/CMakeFiles/hello-world.dir/objects1.rsp
build/CMakeFiles/hello-world.dir/progress.make
build/CMakeFiles/hello-world.dir/src/main.cpp.obj
build/CMakeFiles/hello-world.dir/src/main.cpp.obj.d
